@import "tailwindcss";

@theme {
  --color-citizen-bg: #09090b;
  --color-citizen-text: #e4e4e7;
  --color-citizen-green: #10b981;
  --color-citizen-purple: #8b5cf6;
}

@layer utilities {
  .text-white {
    color: #cccccc !important;
  }
}