[Desktop Entry]
Name=Hologram OS
Comment=Your personal internet supercomputer. Fast, free and private.
Exec=hologram-os
Icon=io.hologram.OS
Terminal=false
Type=Application
Categories=Utility;Network;
